pymupdf
pypdf
python-docx
pdfplumber

google-generativeai
openai
python-dotenv

fastapi
uvicorn
pydantic
python-multipart
requests

SQLAlchemy
alembic
psycopg2-binary
apache-airflow-providers-postgres

pytest
pytest-bdd

mkdocs>=1.5.2
mkdocs-material>=9.0.0
pymdown-extensions
mkdocs-mermaid2-plugin
